.App {
  text-align: center;
  flex: 1 0 auto;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://images.unsplash.com/photo-1495490140452-5a226aef25d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-name{
  letter-spacing: 10px;
  font-size: 85px;
  /* background-color: rgba(247, 244, 244, 0.3); */
  background-color: rgba(7, 7, 7, 0.4);
  border-radius: 15px;
  padding: 15px;
}

.App-link {
  color: #73f;
}

/* Style the navbar */
#nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
    top: 0;
    transition: all 0.2s ease;
    width: 100%;
    z-index: 6;
}

/* Navbar links */
#nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:hover {
  color: #73f;
  /* color: #333; */
}

#nav p {
  color: #f2f2f2;
  font-weight: bold;
}

.footer {
  color: #333;
  font-weight: bolder;
  flex-shrink: 0;
  text-align: center;
  /* background-color: hotpink; */
  padding: 20px;
}

/* <!-- Trigger/Open The Modal --> */
/* <button id="modal-button">Open Modal</button> */

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
