.App {
  text-align: center;
  flex: 1 0 auto;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Style the navbar */
#nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
    top: 0;
    transition: all 0.2s ease;
    width: 100%;
    z-index: 6;
}

/* Navbar links */
#nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:hover {
  background-color: aquamarine;
  color: #333;
}

#nav p {
  color: #f2f2f2;
  font-weight: bold;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: hotpink;
  padding: 20px;
}

